.header {
    height: 48vw;
    background: url("../../assets/image21.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 5vw; 
}

.header-container {
    width: 35%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #fff3e3;
    gap: 1vw;
    animation: fadein 3s;
    border-radius: 20px;
    max-width: 100%;
}

.header-container h5 {
    font-size: max(1vw, 15px);
    font-weight: 600;
    color: #000;
    margin: 0;
}

.header-container span {
    font-size: max(2.5vw, 15px);
    font-weight: 800;
    color: #b88e2f;
}

.header-container p {
    font-size: max(.8vw, 12px);
    text-align: justify;
    color: #000;
    margin: 0;
}

.header-container button {
    border: none;
    color: #fff;
    font-weight: 500;
    padding: 0.7vw 2.3vw;
    background: #b88e2f;
    font-size: max(1vw, 13px);
    border-radius: 10px;
    cursor: pointer;
}

@media (max-width: 1050px) {
    .header-container {
        width: 45%;
        bottom: 12%;
    }
    .header-container span {
        font-size: max(2vw, 18px);
    }
     
}

@media (max-width: 750px) {
    .header{
        top: 30px;
        margin-bottom: 30px;
    }
    .header-container {
        width: 40%;
        bottom: 10%;
        right: 5vw;
        padding: 15px 20px;
    }
    .header-container h5 {
        font-size: max(2vw, 12px);
    }
    .header-container span {
        font-size: max(3vw, 14px);
    }
    .header-container p {
        display: none;
    }
    .header-container button {
        padding: 1vw 3vw;
        font-size: max(1.5vw, 13px);
    }
}

@media (max-width: 500px) {
    .header{
        top: 60px;
        margin-bottom: 60px;
    }
    .header-container {
        width: 50%;
        bottom: 8%;
        right: 3vw;
        padding: 15px;
    }
    .header-container span {
        font-size: max(4vw, 12px);
    }
    .header-container button {
        padding: 1vw 3vw; 
        text-align: center;
    }
}
